@import url(https://fonts.googleapis.com/css?family=Poppins);

*
{
	font-family: 'Poppins';
	color: #5570B4;
}

header div img
{
	margin-top: 35px;
	margin-right: auto;
	margin-left: auto;
	display: block;
	width: 15%;
}

header div h1
{
	margin-right: auto;
	margin-left: auto;
	display: block;
	width: 18%;
}

header nav ul
{
	width: 35%;
	display: flex;
	justify-content: space-between;
	list-style-type: none;
	margin-right: 36%;
	margin-left: 29%;
}

header nav ul *
{
	text-decoration: none;
	font-size: 24px;
}

.contact
{
	margin-left: 5%;
	margin-right: 5%;
	display: flex;
	justify-content: space-between;
}

.contact * *
{
	margin-left: auto;
	margin-right: auto;
}

.intro img
{
	display: flex;
	height: 300px;
	margin-left: auto;
	margin-right: auto;
}

.intro .textboit
{
	opacity: 0.8;
	width: 800px;
	height: 300px;
	background-color: white;
	position: absolute;
	top: 500px;
	left: 450px;
	transition-duration: 600ms;
}

.intro .textboit:hover
{
	opacity: 0.9;
}

.intro .textboit .text
{
	text-align: center;
	opacity: 1;
}

.mesprojet .esieabot
{
	display: flex;
	margin-top: 100px;
}

.mesprojet .esieabot div
{
	width: 59%;
	margin-left: 3%;
}

.mesprojet .esieabot img
{
	width: 35%;
	margin-right: 3%;
}

.mesprojet .pfhMbot
{
	display: flex;
	margin-top: 100px;
}

.mesprojet .pfhMbot div
{
	width: 59%;
	margin-right: 3%;
}

.mesprojet .pfhMbot img
{
	width: 35%;
	margin-left: 3%;
}